{% load static %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Django blog</title>
        
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">    
    </head>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C5CBF5;">
      <a class="navbar-brand" href="/#">Django Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>          
        </form>
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-ligth my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">Iniciar Sesión</button>                       
        </form>        
        </div>
      </div>
    </nav>
    <body>
    <!--<div class="page-header">
        <h1><a href="/">Django Blog</a></h1>
    </div>-->
    <div class="content container">
        <a href="{% url 'post_new' %}" ><span class="glyphicon glyphicon-plus"></span></a>
        <div class="row">
            <div class="col-md-10">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
          <hr class="clearfix w-100 d-md-none"> 
          <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> Contacto</h5>
            <ul class="list-unstyled">              
              <div><a class='btn btn-link'  href="https://github.com/JMartinezCL"><i class="fab fa-github"></i></a></div>   
              <div><a class='btn btn-link'  href="https://linkeind.com/JMartinezCL"><i class="fab fa-linkedin"></i></a></div>   
              <li><a class='btn btn-link'  href="https://fb.com/JMartinezCL"><i class="fab fa-facebook"></i></a></li> 
              <li><a class='btn btn-link'  href="https://twitter.com/JMartinezCL"><i class="fab fa-twitter"></i></a></li>     
            </ul>
          </div> 

          <hr class="clearfix w-100 d-md-none">         
          <div class="col-md-3 mx-auto">            
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ubicación</h5>
            <ul class="list-unstyled">
              <a class='btn btn-link'  href="https://github.com/JMartinezCL"><i class="fab fa-github"></i></a>   
              <a class='btn btn-link'  href="https://linkeind.com/JMartinezCL"><i class="fab fa-linkedin"></i></a>   
              <a class='btn btn-link'  href="https://fb.com/JMartinezCL"><i class="fab fa-facebook"></i></a>
              <a class='btn btn-link'  href="https://twitter.com/JMartinezCL"><i class="fab fa-twitter"></i></a>  
            </ul>
          </div>
         

          <hr class="clearfix w-100 d-md-none">         
          <div class="col-md-3 mx-auto">          
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacto </h5>
            <ul class="list-unstyled">
              <li><i class="fab fa-github" href="https://github.com/JMartinezCL"></i><a href="https://github.com/JMartinezCL"> Github</a></li>
              <li><i class="fab fa-linkedin" href="https://google.com"></i><a href="https://linkeind.com/JMartinezCL"> Linkedin</a></li>
              <li><i class="fab fa-facebook"></i><a href="https://fb.com/JMartinezCL"> Facebook</a></li>
              <li><i class="fab fa-twitter"></i><a href="https://twitter.com/JMartinezCL"> Twitter</a></li>
            </ul>
          </div> 
        </div>      
      </div>   

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" background-color= 'blue'>
        <a> Developed by JMartinezCL</a>
        - 2019 Copyright © 
      </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inicia Sesión</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" >
           </div>
           <div class="form-group">
              <label for="exampleDropdownFormPassword1">Contraseña</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Ingresa tu contraseña">
           </div>           
           <div>
            <button type="button" class="btn btn-success btn-lg btn-block">Iniciar Sesión</button>
            <button type="button" class="btn btn-link btn-sm btn-block">Recuperar mi contraseña</button>
          </div>
          <hr>          
          <div class="form-group">
            <div>
                <button type="button" class="btn btn-success btn-sm btn-block">Ingresa con Facebook</button>
                <button type="button" class="btn btn-success btn-sm btn-block">Ingresa con Twitter</button>   
                <button type="button" class="btn btn-success btn-sm btn-block">Ingresa con Google</button>
                <p>¿No tienes cuenta?<a href="#">Registrate</a></p>  
            </div> 

           </div>  
          </div>  
          <!--<div class="modal-footer">
             <p>¿No tienes cuenta?<a href="#">Registrate</a></p>

          </div>     -->     
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </body>
</html>